<!-- Footer -->
<footer class="footer-component bg-white border-top pt-5 pb-3">
  <div class="container">
    <div class="row border-top pt-4">
      <div class="col-12">
        <!-- Footer Content -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
          <!-- Copyright Text -->
          <p class="text-muted small mb-0">
            {{ copyrightText }}
          </p>

          <div class="d-flex gap-3">
              <p class="text-center font-bold text-teal-900 text-2xs">RAJAONARIMINO Antonio Sombiniaina (ETU002476) - SAMSOUDINE Severino Divaraly Christian (ETU002642)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
