<div class="flex h-screen" style="background-color: #f5f5f5;">
  <!-- Sidebar à gauche -->
  <app-navbar></app-navbar>

  <div *ngIf="loading" class="text-center py-4 position-absolute" style="top: 50%;left: 50%">
    <div class="spinner-border text-primary" role="status"></div>
    <div class="mt-2">Chargement...</div>
  </div>
  <main *ngIf="!loading" class="flex-1 overflow-y-auto">
    <app-header></app-header>
    <div class="main-page">
      <div class="d-flex align-items-center gap-2">
        <span>
          <i class="fa fa-arrow-left text-muted cursor-pointer" (click)="goBack()"></i>
        </span>
        <h4 class="text-3xl fw-bold" style="color: #101828;">Details d'une vente</h4>
      </div>
      <!-- Header Section avec Image et Détails -->
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-body p-4">
          <div class="row">
            <!-- Informations Principales -->
            <div class="col-12">
              <!-- Titre et Badge -->
              <div class="d-flex justify-content-between align-items-start mb-3 border-bottom pb-1">
                <div>
                  <p class="text-muted mb-0 fw-semibold">
                    <small>ID : {{ item?._id }}</small>
                  </p>
                </div>
                <span class="badge px-3 py-2" [ngClass]="Vente.getStatusClass(item?.status)">{{Vente.getStatusLabel(item?.status)}}</span>
              </div>
              <div class="row g-3 mb-2">
                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Designation</div>
                    <div class="stat-value">{{ item?.designation }}</div>
                  </div>
                </div>

                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Client</div>
                    <div class="stat-value-muted">
                      <a [routerLink]="['/boutique/client/details',item?.idClient]">{{ item?.client?.nom }} {{ item?.client?.prenom }}</a>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-md-3" *ngIf="item?.idSource && item?.idSource!=''">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Source</div>
                    <div class="stat-value-muted">
                      <a *ngIf="item && item.idSource && item.idSource.startsWith('bcmd_')" [routerLink]="['/boutique/bon_commande/details/', item.idSource]">{{ item.idSource }}</a>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Date</div>
                    <div class="stat-value-muted">{{ item?.date | date:'dd/MM/YYYY' }}</div>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Montant total</div>
                    <div class="stat-value">{{ UtilitaireUtil.formatAmount(item?.montantTotal) }} <small class="text-muted">Ar</small></div>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Montant pay&eacute;</div>
                    <div class="stat-value">{{ UtilitaireUtil.formatAmount(item?.montantPayer) }} <small class="text-muted">Ar</small></div>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Reste &agrave; pay&eacute;</div>
                    <div class="stat-value">{{ UtilitaireUtil.formatAmount(item?.montantRestant) }} <small class="text-muted">Ar</small></div>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="stat-box">
                    <div class="stat-label text-uppercase text-muted">Quantite total</div>
                    <div class="stat-value">{{ item?.quantiteTotal }}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-footer d-flex gap-2 justify-content-end" >
          <div class="d-flex gap-2">
            @if (item?.status === ConstanteUtil.ETAT_DISPONIBLE){
              <button
                class="btn btn-success"
                (click)="setStatus()">
                <i class="fa fa-check me-2"></i>
                Valider
              </button>
              <button
                class="btn btn-warning"
                (click)="editBoxe()">
                <i class="fa fa-edit me-2"></i>
                Modifier
              </button>
              <button
                class="btn btn-danger"
                (click)="deleteBoxe()">
                <i class="fa fa-trash me-2"></i>
                Modifier
              </button>
            } @else {
              <button *ngIf="item && item.montantRestant && item.montantRestant > 0"
                class="btn btn-primary"
                (click)="goToPayement()">
                <i class="fa fa-credit-card me-2"></i>
                Payement
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Onglets Section -->
      <div class="card border-0 shadow-sm">

        <!-- Tabs Navigation -->
        <div class="card-header bg-white border-bottom-0 pt-3 px-4 pb-0">
          <ul class="nav nav-tabs border-bottom-0">
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="activeTab === 'tab1'"
                href="javascript:void(0)"
                (click)="changeTab('tab1')">
                Details
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="activeTab === 'tab2'"
                href="javascript:void(0)"
                (click)="changeTab('tab2')">
                Mouvement de stock
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="activeTab === 'tab3'"
                href="javascript:void(0)"
                (click)="changeTab('tab3')">
                Payements
              </a>
            </li>
          </ul>
        </div>

        <!-- Tabs Content -->
        <div class="card-body p-4">

          <!-- Tab: Ventes & Locations -->
          <div *ngIf="activeTab === 'tab1'">
            <app-vente-filles-liste [idMere]="item?._id" />
          </div>
          <div *ngIf="activeTab === 'tab2'">
            <app-stock-liste [idMere]="item?._id" />
          </div>
          <div *ngIf="activeTab === 'tab3'">
            <app-payement-liste [idMere]="item?._id" />
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
