<div class="flex h-screen" style="background-color: #f5f5f5;">
  <!-- Sidebar à gauche -->
  <app-navbar></app-navbar>

  <div *ngIf="loading" class="text-center py-4 position-absolute" style="top: 50%;left: 50%">
    <div class="spinner-border text-primary" role="status"></div>
    <div class="mt-2">Chargement...</div>
  </div>
  <main *ngIf="!loading" class="flex-1 overflow-y-auto">
    <app-header></app-header>
    <div class="main-page">
      <div class="d-flex align-items-center gap-2">
<!--        <span>-->
<!--          <i class="fa fa-arrow-left text-muted cursor-pointer" (click)="goBack()"></i>-->
<!--        </span>-->
        <h4 class="text-3xl fw-bold" style="color: #101828;">Information du profil</h4>
      </div>
      <!-- Header Section avec Image et Détails -->
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-body p-4">
          <div class="row">
            <!-- Informations Principales -->
            <div class="col-12">
              <!-- Titre et Badge -->
              <div class="d-flex justify-content-between align-items-start mb-3 border-bottom pb-1">
                <div>
                  <p class="text-muted mb-0 fw-semibold">
                    <small>ID : {{ item?._id }}</small>
                  </p>
                </div>
<!--                <span class="badge px-3 py-2" [ngClass]="Produit.getStatusClass(item?.status)">{{Produit.getStatusLabel(item?.status)}}</span>-->
              </div>
              <div class="d-flex gap-4">
                <div class="boxe-image-container h-fit">
                  <img src="{{item?.pdp}}" alt="Image du produit" class="boxe-image">
                </div>
                <div class="w-100">
                  <div class="row g-3 mb-2">
                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">Nom</div>
                        <div class="stat-value">{{ item?.nom }}</div>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">Prenom</div>
                        <div class="stat-value">{{ item?.prenom }}</div>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">Adresse</div>
                        <div class="stat-value">{{ item?.adresse }}</div>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">Contact</div>
                        <div class="stat-value">{{ item?.telephone }}</div>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">E-mail</div>
                        <div class="stat-value">{{ item?.email }}</div>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="stat-box">
                        <div class="stat-label text-uppercase text-muted">Age</div>
                        <div class="stat-value">{{ UtilitaireUtil.getAge(item?.date_naissance) }} ans</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-footer d-flex gap-2 justify-content-end" *ngIf="userRole===ConstanteUtil.role_proprietaire">
          <div class="d-flex gap-2">
            <button
              class="btn btn-warning"
              (click)="editItem()">
              <i class="fa fa-edit me-2"></i>
              Modifier
            </button>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
